<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>iStock</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo.svg"
            width="40"
            height="40">
          </div>

        <h1>iStock</h1>

        <div class="user">
            <img src="/static/img/user.svg" width="16" height="16">
            <a href="/register" class="button-link">
            Connexion
            </a>
          </div>          

        </header>
    </header>
    <main>
        {%for shoe in shoes%} 
        <div class="card">
            <img src="{{shoe[4]}}" style="width:190px;height:110px;">
            <p class="name_shoes">{{shoe[1]}}</p>
            <p class="price_card">{{shoe[3]}}€<p>
        </div>
        {% endfor %}
    </main> 
    <footer>
        <p>Remerciements à Baptiste Champion (il est beau), Nicholas Saintvil (il est tres beau) et François-Marie Lescure (il est giga beau).</p>
    </footer>
</body>