<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/info_users.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info utilisateur</title>
</head>
<body>
  <script src="/static/js/erreur.js" type="text/javascript"></script>
  <h1>Gérer les utilisateurs</h1>
  <table>
      <thead>
        <tr>
          <th colspan="2">Tableau Des Utilisateurs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nom</td>
          <td>Prénom</td>
          <td>Genre</td>
          <td>Pointure</td>
          <td>Email</td>
        </tr>
      </tbody>
    </table>
      
</body>
</html>