<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/product.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo.svg"
            width="40"
            height="40">
        </div>
        <h1>iStock</h1>
        {% if logged_in %}
        <div>

        </div>
        {% else %}
        <div class="user">
            <img src="/static/img/user.svg" width="16" height="16">
            <a href="/register" class="button-link">
            Connexion
            </a>
        </div>
        {% endif %}

    </header>
    <div>
    <img src="https://images.stockx.com/images/adidas-Campus-00s-Grey-White-Product.jpg" width="500px">
    <div class="desccription-product">
        <h2>Adidas Campus 00s</h2>
        <div class="other-description">
            <p>101.0€</p>
        </div>
    </div>
    </div>
</body>
</html>