/* Variable et import */
@font-face {
    font-family: Archivo;
    src: url('/static/fonts/Archivo.ttf');
}

:root {
  --blue: #9eb7e5;
  --white: #ffffff;
  --gold: #cdc392;
  --white-gold: #E8E5DA;
  --blue2: #6074a1;
  --font: #040507;
  --shadow: rgba(125, 124, 124, 0.25);
}

/* Début design header */

header h1 {
    color: var(--font);
    margin: 0;
  }
  .brand-name a{
    text-decoration: none;
    color: var(--font)
  }
  
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-inline: 5rem;
  }
  .header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .header-menu li{
    margin-inline: 50px;
    font-size: 18px;
  }
  .header-menu li a{
    text-decoration: none;
    color: var(--font);
    position: relative;
  }
  .header-menu li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--blue2);
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
  }
  .header-menu li a:hover:after{
    width: 100%;
    left: 0;
    background: var(--blue2);
  }
  
  
  .user {
    border: 2px solid var(--blue2);
    background-color: var(--blue2);
    padding-inline: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
  }
  
  .button-link {
    text-decoration: none;
    color: var(--white);
    padding-inline: 5px;
    font-weight: bold;
  }
  
  /* Fin desgin header */

body {
    margin: 0;
    padding: 0;
    font-family: Archivo;
}


/* Début design header */
header {
    padding-inline: 20px;
}

header h1 {
  color: var(--font);
  margin: 0;
}  
header h1 span {
    color: var(--blue2);
}
header p {
    color: var(--font);
    margin: 0;
    opacity: .7;
}

.form-logout input {
    border: 3px solid var(--blue);
    background-color: transparent;
    border-radius: 10px;
     display: flex;
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    color: var(--blue2);
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.form-logout input:hover{
    color: var(--blue);
}

a.back-shop{
    display: block;
    padding-top: 10px;
}
/* Fin design header*/

/* Début design table user-information*/
.user-information {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    margin-inline: 20px;
}
.title-user-information {
    padding-left: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

/* Début design table orders */
.orders{
    max-width: 80%;
    margin-inline: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  var(--shadow);
}
.orders tr{
    box-shadow: 0 0 4px #ccc;
}

/* Début design admin part */
.admin-part li{
    padding-block: 3px
}