@font-face {
  font-family: Archivo;
  src: url('/static/fonts/Archivo.ttf');
}

:root {
  --blue: #9eb7e5;
  --white: #ffffff;
  --gold: #cdc392;
  --white-gold: #E8E5DA;
  --blue2: #6074a1;
  --font: #040507;
  --shadow: rgba(125, 124, 124, 0.25);
}

body {
  margin: 0;
  padding: 0;
  font-family: Archivo;
}

header h1 {
  color: var(--font);
  margin: 0;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}


.user {
  border: 2px solid var(--blue2);
  background-color: var(--blue2);
  padding-inline: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.button-link {
  text-decoration: none;
  color: var(--white);
  padding-inline: 5px;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  margin-inline: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 20px var(--shadow);
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.card .price_card {
  font-size: 20px;
  font-weight: bold;
}

.card .name_shoes {
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: var(--white-gold);
}

.lineaire-simple {
  background: linear-gradient(blue, pink);
}
