@font-face {
  font-family: Archivo;
  src: url('/static/fonts/Archivo.ttf');
}

:root {
  --blue: #9eb7e5;
  --white: #ffffff;
  --gold: #cdc392;
  --white-gold: #E8E5DA;
  --blue2: #6074a1;
  --font: #040507;
  --shadow: rgba(125, 124, 124, 0.25);
}

body {
  margin: 0;
  padding: 0;
  font-family: Archivo;
}

/* Début design header */

header h1 {
  color: var(--font);
  margin: 0;
}
.brand-name a{
  text-decoration: none;
  color: var(--font)
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-inline: 5rem;
}
.header-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header-menu li{
  margin-inline: 50px;
  font-size: 18px;
}
.header-menu li a{
  text-decoration: none;
  color: var(--font);
  position: relative;
}
.header-menu li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--blue2);
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}
.header-menu li a:hover:after{
  width: 100%;
  left: 0;
  background: var(--blue2);
}


.user {
  border: 2px solid var(--blue2);
  background-color: var(--blue2);
  padding-inline: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.button-link {
  text-decoration: none;
  color: var(--white);
  padding-inline: 5px;
  font-weight: bold;
}

/* Fin desgin header */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  width: 200px;
  margin-inline: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 20px var(--shadow);
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover{
  transform: scale(1.05);
}

.card .price_card {
  font-size: 20px;
  font-weight: bold;
}

.card .name_shoes {
  font-size: 15px;
  margin-bottom: 2px;
}

.card .stock_shoes{
  font-size: 12px;
  color: var(--blue2);
  margin: 0;
}
.card .see_infos{
  font-size: 12px;
  font-weight: bold;
  background-color: var(--blue);
  padding-inline: 12px;
  padding-block: 10px;
  position: absolute;
  right: 15px;
  bottom: 30px;
  text-align: center;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: var(--white-gold);
}

.lineaire-simple {
  background: linear-gradient(blue, pink);
}

/* */
.user_account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}