@font-face {
    font-family: Archivo;
    src: url('/static/fonts/Archivo.ttf');
  }
  
  :root {
    --blue: #9eb7e5;
    --white: #ffffff;
    --gold: #cdc392;
    --white-gold: #E8E5DA;
    --blue2: #6074a1;
    --font: #040507;
    --shadow: rgba(125, 124, 124, 0.25);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Archivo;
  }
  
  h1 {
    color: var(--blue);
    text-align: center;
    padding-top: 15px;
  }

table {
  max-width: 80%;
  margin-inline: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--shadow);
}

table th{
  padding-inline: 20px;
  padding-block: 10px;
}
table td {
  padding-inline: 20px;
  padding-block: 10px;
}
table tr {
  box-shadow: 0 0 4px #ccc;
}

table a.access-user{
  text-decoration: none;
  color: var(--blue2);
  font-weight: bold;
  transition: .3s;
}
table a.access-user:hover{
  color: var(--blue);
}