/* Variable et import */
@font-face {
    font-family: Archivo;
    src: url('/static/fonts/Archivo.ttf');
}

:root {
  --blue: #9eb7e5;
  --white: #ffffff;
  --gold: #cdc392;
  --white-gold: #E8E5DA;
  --blue2: #6074a1;
  --font: #040507;
  --shadow: rgba(125, 124, 124, 0.25);
}


body {
    margin: 0;
    padding: 0;
    font-family: Archivo;
}


/* Début design header */
header h1 {
  color: var(--font);
  margin: 0;
}

.brand-name a {
  text-decoration: none;
  color: var(--font)
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}


.user {
  border: 2px solid var(--blue2);
  background-color: var(--blue2);
  padding-inline: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.button-link {
    text-decoration: none;
    color: var(--white);
    padding-inline: 5px;
    font-weight: bold;
}

/* Fin design header*/

.product{
  display: flex
}


.description-product{
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    margin-top: 30px 
}

.other-description{
    vertical-align: top;
    font-size: 20px;
  
}

.img_product{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:50px;
  box-shadow:0px 5px 20px var(--shadow);
  border-radius: 20px;
}

.prix{
  font-size: 25px;
  font-weight: bold;
}

.taille{
  border: solid 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px
}

.acheter{
  font-size: 30px
}

.acheter_button{
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  background-color: #6074A1;
  color: white
}

.panier_button{
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  background-color: #9EB7E5;
  color: white
}
  
.acheter_button:hover {
    background-color: #9EB7E5
}

.panier_button:hover {
  background-color: #6074A1;
}